<h1 class = "mx-4" >All tasks</h1>

<ol>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task.id) %> - completed: <%= task.completed %></li>
  <% end %>
</ol>

<p><%= link_to "Add a new task", new_task_path %></p>
